@import "Example"
@import "../../src/MultiSelect"
@import "../../src/SimpleSelect"

body
    display flex
    align-items center
    flex-direction column
    font-family 'Helvetica Neue'
    margin 0px
    padding 0px 0px 500px 0px

    .project-description
        margin 0px 0px 40px 0px
        width 600px

        .title
            font-size 2.5em
            font-weight lighter
            margin 16px 0px 8px 0px

    .app
        align-items center
        display flex
        flex-direction column

        .categories
            display flex
            border-bottom 1px solid #ccc
            justify-content center
            width 100%
            > div
                display flex
                align-items center
                color #0099ff
                cursor pointer
                justify-content center
                text-transform capitalize
                position: relative
                top 1px
                width 88px
                height 44px

                &.selected
                    border 1px solid #ccc
                    border-bottom 1px solid white
                    border-top-left-radius 8px
                    border-top-right-radius 8px
                    color black

        .examples 
            padding 40px 0px 0px 0px

            .title     
                font-size 1.8em
                margin 0px 0px 20px 0px        

        .github-link 
            color #0099ff
            display block
            font-size 1.4em
            margin 20px 0px 0px 1px
            text-decoration none    

        .copy-right 
            color #999
            border-top 1px solid #ccc
            font-size 0.7em
            margin-top 60px
            padding-top 10px

