@import "Example"
@require "../../themes/default"
@require "../../themes/bootstrap3"

body
    
    // iPhone 5
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px)
        cursor pointer
    
    // iPhone 6
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px)
        cursor pointer
    
    // iPhone 6 plus
    @media only screen and (min-device-width : 414px) and (max-device-width : 736px)
        cursor pointer
    
    // iPad
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
        cursor pointer
    
    display flex
    align-items center
    color rgb(68, 75, 88)
    flex-direction column
    font-family 'Helvetica Neue', Helvetica
    margin 0px
    padding 0px 0px 500px 0px

    .project-description
        margin 0px 0px 40px 0px
        width 700px

        a
            color #0099ff

        .title
            font-size 2.5em
            font-weight lighter
            margin 40px 0px 16px 0px

        .code
            background-color #f0f0f0
            font-family monospace
            font-size 14px
            padding 1px
            white-space pre


        .features, .install
            margin-top 24px
            .sub-title
                font-weight bold

        .features            
            ul 
                li
                    margin-bottom 5px

    .app
        align-items center
        display flex
        flex-direction column

        .categories
            display flex
            justify-content center
            width 100%
            .line 
                flex 1
                border-bottom 1px solid #ccc
            > a
                display flex
                align-items center
                border-bottom 1px solid #ccc
                color #0099ff
                cursor pointer
                justify-content center
                text-decoration none
                text-transform capitalize
                position: relative
                width 88px
                height 44px

                &.selected
                    border 1px solid #ccc
                    border-bottom none
                    border-top-left-radius 8px
                    border-top-right-radius 8px
                    color black

        .examples 
            padding 50px 0px 0px 0px

            .title     
                font-size 1.8em
                margin 0px 0px 20px 0px
            
        .github-link 
            color #0099ff
            display block
            font-size 1.4em
            margin 20px 0px 0px 1px
            text-decoration none    

        .copy-right 
            color #999
            border-top 1px solid #ccc
            font-size 0.7em
            margin-top 60px
            padding-top 10px



