.example
    
    .react-selectize.multi-select .removeable-emoji
        background #f2f9fc
        border 1px solid #c9e6f2
        border-radius 2px
        color #0088cc
        display inline-block
        margin 2px
        vertical-align middle

        span
            display inline-block
            vertical-align top

            &:first-child
                border-right 1px solid #c9e6f2
                cursor pointer
                padding 2px 5px 4px

                &:hover
                    background #ddeff7
                    color #0077b3

            &:last-child
                cursor default
                padding 3px 5px

    .title
        color #2d2d2d
        font-size 24px
        font-weight normal
        margin-bottom 5px

    .description
        color #555
        font-size 16px
        font-weight normal
        margin-bottom 25px
        white-space pre

    > div:last-child
        display flex

        .tab-container
            display inline-block

            .languages
                display flex

                > div
                    border 1px solid #ccc
                    border-bottom none
                    border-top-left-radius 4px
                    border-top-right-radius 4px
                    box-sizing border-box
                    color #ccc
                    cursor pointer
                    font-size 14px
                    padding 5px 8px 5px 8px
                    
                    &.selected
                        color #000

            .editor
                border 1px solid #ccc

        .error
            color #c5695c

        .error, .output
            margin 27px 0px 0px 20px
            width 300px