@import "../../src/react-select" 

body
    font-family 'Helvetica Neue'
    margin 0px
    padding 0px

    > div:first-child 
        margin 0px auto
        width 500px

    .title     
        font-size 2.4em
        font-weight 100
        margin 32px 0px 20px 0px

    .description 
        font-size 1.1em    
        font-weight 100

    .github-link 
        color #0099ff
        display block
        font-size 1.4em
        font-weight 100
        margin 20px 0px 0px 1px
        text-decoration none    

    h1 
        font-weight 100

    h2 
        font-size 0.9em
        font-weight 1000
        color #aaa

    .copy-right 
        color #999
        border-top 1px solid #ccc
        font-size 0.7em
        font-weight normal
        margin-top 60px
        padding-top 10px
