height = 30px

// component skeleton, extended & decorated by themes
.react-selectize
    color black

.react-selectize.root-node
    user-select none
    position relative
    width 300px

    &.disabled
        pointer-events none

    .react-selectize-control
        cursor pointer
        display flex
        align-items flex-start
        position relative
        
        // this controls the height of the select 
        padding 2px

        .react-selectize-placeholder
            display block
            line-height height
            overflow hidden
            text-overflow ellipsis
            vertical-align middle
            white-space nowrap
            position absolute
            max-width calc(100% - 56px)

        .react-selectize-search-field-and-selected-values
            display flex
            min-height height
            flex-grow 1
            flex-wrap wrap

            .resizable-input
                background none
                border none
                outline none 
                font-size 1em
                margin 2px
                padding 4px 0px
                vertical-align middle
                width 0px

            .value-wrapper
                display flex
                align-items center

        .react-selectize-reset-button-container, .react-selectize-toggle-button-container
            flex-grow 0
            flex-shrink 0
            cursor pointer
            display flex
            align-items center
            justify-content center
            height height

        .react-selectize-reset-button-container
            width 16px
        
        .react-selectize-toggle-button-container
            width 32px

        .react-selectize-reset-button-container:hover .react-selectize-reset-button path
            stroke #c0392b
        
        .react-selectize-reset-button path
            transition stroke 0.5s 0s ease
            stroke #999
            stroke-linecap square
            stroke-linejoin mitter

        .react-selectize-toggle-button path
            fill #999

// wraps the dropdown-menu div, exists only when props.transition-enter or props.transition-leave or both are true
// present inside document.body if props.tether is true, otherwise its present inside the control-wrapper div (above)
.react-selectize.dropdown-menu-wrapper
    position absolute

    &.tethered
        min-width 300px

    &:not(.tethered)
        width 100%

// dropdown-menu present in document.body when props.tether is true
.react-selectize.dropdown-menu
    box-sizing border-box
    overflow auto
    position absolute
    max-height 200px
    z-index 10

    &.tethered
        min-width 300px

    &:not(.tethered)
        width 100%

    .groups.as-columns
        display flex
        > div
            flex 1

    .option-wrapper
        cursor pointer
        outline none

// MULTI SELECT
.multi-select.react-selectize.control-wrapper
    
    .simple-value
        display inline-block
        margin 2px
        vertical-align middle

        span
            display inline-block
            padding 2px 5px 4px
            vertical-align center

// SIMPLE SELECT
.simple-select.react-selectize.control-wrapper
    
    .simple-value
        margin 2px

        span
            display inline-block
            vertical-align center