.react-selectize.bootstrap3
    color black
    background-color white
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    user-select none
    position relative

    &:not(.tethered)
        width 300px

    &.disabled
        pointer-events none

    &.open .react-selectize-control
        border 1px solid #66afe9
        box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)

    .react-selectize-control
        border 1px solid
        border-color #d9d9d9 #cccccc #b3b3b3
        border-radius 4px
        cursor pointer
        font-size 1em
        display flex
        align-items flex-start
        position relative

        // this controls the height of the select 
        > div
            min-height 30px

        .react-selectize-placeholder
            color #aaa
            display flex
            align-items center
            overflow hidden
            text-indent 8px
            text-overflow ellipsis
            white-space nowrap
            position absolute

        .react-selectize-selected-values
            display flex
            flex-grow 1
            flex-wrap wrap
            padding-left 5px

            .resizable-input
                background none
                border none
                outline none 
                font-size 1em
                margin 2px
                padding 4px 0px
                vertical-align middle
                width 0px

            .value-wrapper
                display flex
                align-items center

        .react-selectize-arrow-container, .react-selectize-reset-container
            flex-grow 0
            flex-shrink 0
            display flex
            align-items center
            justify-content center

        .react-selectize-arrow-container
            width 32px

        .react-selectize-reset-container
            width 16px

        .react-selectize-reset-container:hover .react-selectize-reset path
            stroke #c0392b

        .react-selectize-arrow path
            fill #999
            
        .react-selectize-reset path
            transition all 0.5s 0s ease
            stroke #999
            stroke-linecap square
            stroke-linejoin mitter
            stroke-width 1px
        

// DROPDOWN MENU (in document.body when @props.tether is true)
.react-selectize.dropdown-menu-container.bootstrap3
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    position absolute
    width 300px

    .dropdown-menu
        
        &.slide-enter-active, &.slide-leave-active
            transition opacity 0.2s 0s ease

        &.slide-enter
            opacity 0
        
        &.slide-enter-active
            opacity 1
        
        &.slide-leave
            opacity 1

        &.slide-leave-active
            opacity 0

.react-selectize.dropdown-menu.bootstrap3
    background white
    box-sizing border-box
    border 1px solid #ccc
    border-radius 4px
    box-shadow 0 6px 12px rgba(0, 0, 0, 0.175)
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    max-height 200px
    overflow auto
    position absolute
    z-index 10

    &.tethered
        min-width 300px

    &:not(.tethered)
        width 100%

    &.flipped
        margin-bottom 5px

    &:not(.flipped)
        margin-top 5px

    .no-results-found
        color #aaa !important
        font-style oblique
        padding 8px 10px
        &.red
            color red !important

    .groups.as-columns
        display flex

        > div 
            flex 1

    .simple-group-title
        background-color #fafafa
        padding 8px 8px

    .option-wrapper
        cursor pointer
        outline none
        &.highlight
            background #428bca

            .simple-option
                color #fff

        .simple-option
            color #333
            cursor pointer
            padding 8px 10px

            &.not-selectable
                background-color #f8f8f8
                color #999
                cursor default
                font-style oblique
                text-shadow 0px 1px 0px white


// MULTI SELECT
.react-selectize.multi-select.bootstrap3 

    .simple-value
        background #efefef
        border-radius 4px
        color #333
        display inline-block
        margin 2px
        vertical-align middle

        span
            cursor pointer
            display inline-block
            padding 2px 5px 4px
            vertical-align top

// SIMPLE SELECT
.react-selectize.simple-select.bootstrap3
    
    .simple-value
        display inline-block
        margin 2px
        vertical-align middle

        span
            cursor default
            display inline-block
            vertical-align top

