@require 'base'

.react-selectize.default
    color black
    background-color white
    font-family Helvetica Neue, Helvetica, Arial, sans-serif

    &:not(.tethered)
        width 300px

    .react-selectize-control
        border 1px solid
        border-color #d9d9d9 #cccccc #b3b3b3
        border-radius 4px
        font-size 1em

        // this controls the height of the select 
        > div
            min-height 30px

        .react-selectize-placeholder
            color #aaa
            text-indent 8px

        .react-selectize-selected-values
            padding-left 5px

        .react-selectize-reset-container:hover .react-selectize-reset path
            stroke #c0392b

        .react-selectize-reset path
            transition stroke 0.5s 0s ease
        
    &.open

        &.flipped

            .react-selectize-control
                border-top none
                border-bottom-left-radius 4px
                border-bottom-right-radius 4px
                border-top-left-radius 0px
                border-top-right-radius 0px

        &:not(.flipped)
            
            .react-selectize-control
                border-bottom none
                border-bottom-left-radius 0px
                border-bottom-right-radius 0px
                border-top-left-radius 4px
                border-top-right-radius 4px

// DROPDOWN MENU (in document.body when @props.tether is true)
.react-selectize.dropdown-menu-container.default
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    overflow hidden
    width 300px

    .dropdown-menu
        
        &.custom-enter-active, &.custom-leave-active
            transition transform 0.2s 0s ease

        &.flipped
        
            &.custom-enter
                transform translateY(100%)
            
            &.custom-enter-active
                transform translateY(0%)
            
            &.custom-leave
                transform translateY(0%)

            &.custom-leave-active
                transform translateY(100%)

        &:not(.flipped)

            &.custom-enter
                transform translateY(-100%)
            
            &.custom-enter-active
                transform translateY(0%)
            
            &.custom-leave
                transform translateY(0%)

            &.custom-leave-active
                transform translateY(-100%)

.react-selectize.dropdown-menu.default
    background white
    box-sizing border-box
    border 1px solid #ccc
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    max-height 200px

    &.tethered
        min-width 300px

    &:not(.tethered)
        width 100%

    &.flipped
        border-top-left-radius 4px
        border-top-right-radius 4px

    &:not(.flipped)
        border-color #b3b3b3 #cccccc #d9d9d9
        border-bottom-left-radius 4px
        border-bottom-right-radius 4px

    .no-results-found
        color #aaa !important
        font-style oblique
        padding 8px 10px
        &.red
            color red !important

    .simple-group-title
        background-color #fafafa
        padding 8px 8px

    .option-wrapper
        &.highlight
            background #f2f9fc
            color #333

        .simple-option
            color #666
            cursor pointer
            padding 8px 10px

            &.not-selectable
                background-color #f8f8f8
                color #999
                cursor default
                font-style oblique
                text-shadow 0px 1px 0px white


// MULTI SELECT
.react-selectize.multi-select.default 
    
    .simple-value
        background #f2f9fc
        border 1px solid #c9e6f2
        border-radius 2px
        color #0088cc
        display inline-block
        margin 2px
        vertical-align middle

        span
            cursor pointer
            display inline-block
            padding 2px 5px 4px
            vertical-align top

// SIMPLE SELECT
.react-selectize.simple-select.default
    
    &:not(.open) .react-selectize-control
        background-color #f9f9f9
        background-image linear-gradient(to bottom, #fefefe, #f2f2f2)

    .simple-value
        margin 2px
