@require 'base'

.react-selectize.material
    font-family Roboto, sans-serif

.react-selectize.material.root-node
    
    &.open .react-selectize-control:after
        transform scaleX(1)

    .react-selectize-control 
        border-bottom 1px solid rgba(0, 0, 0, 0.3)

        &:after
            background-color  rgb(0, 188, 212)
            content ""
            transform scaleX(0)
            transition transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
            position absolute
            left 0px
            bottom -1px
            width 100%
            height 2px

        .react-selectize-placeholder
            color rgba(0, 0, 0, 0.3)
            text-indent 4px

// wraps the dropdown-menu div, exists only when props.transition-enter or props.transition-leave or both are true
// present inside document.body if props.tether is true, otherwise its present inside the root-node div (above)
.react-selectize.material.dropdown-menu-wrapper
    &.flipped
        margin-bottom 8px

        .dropdown-menu
            transform-origin 100% 100%

    &:not(.flipped)
        margin-top 8px

        .dropdown-menu
            transform-origin 0% 0%

    .dropdown-menu

        &.custom-enter-active, &.custom-leave-active
            transition transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms

        &.custom-enter
            opacity 0
            transform scale(0, 0)

        &.custom-enter-active
            opacity 1
            transform scale(1, 1)

        &.custom-leave
            opacity 1
            transform scale(1, 1)

        &.custom-leave-active
            opacity 0

// dropdown-menu present in document.body when props.tether is true
.react-selectize.material.dropdown-menu
    background-color white
    border-radius 2px
    box-shadow rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px
    max-height 250px
    padding 8px 0px

    &.flipped
        margin-bottom 8px

    &:not(.flipped)
        margin-top 8px
    
    .no-results-found
        font-style oblique
        font-size 16px
        height 32px
        padding 0px 16px
        display flex
        align-items center

    .groups:not(.as-columns) > div:not(:last-child)
        border-bottom 1px solid #e5e5e5

    .simple-group-title
        color #8f8f8f
        display flex
        align-items center
        font-size 14px
        height 48px
        padding 0px 10px

    .option-wrapper

        &.highlight
            background-color rgba(0,0,0,0.098)

        .simple-option
            color rgba(0, 0, 0, 0.875)
            cursor pointer
            display flex
            flex-direction column
            align-items flex-start
            justify-content center
            font-size 16px
            height 48px
            padding 0px 16px

            &.not-selectable
                background-color #f8f8f8
                color #999
                cursor default
                font-style oblique
                text-shadow 0px 1px 0px white

// MULTI SELECT
.multi-select.react-selectize.material.root-node .simple-value
    span
        padding 0px
        &:after
            content ","

// SIMPLE SELECT
.simple-select.react-selectize.material.root-node .simple-value
    margin 4px 3px 3px 2px

