.dropdown-menu-container
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    overflow hidden
    position absolute
    width 300px

    .dropdown-menu
        
        &.slide-enter-active, &.slide-leave-active
            transition transform 0.2s 0s ease

        &.flipped
        
            &.slide-enter
                transform translateY(100%)
            
            &.slide-enter-active
                transform translateY(0%)
            
            &.slide-leave
                transform translateY(0%)

            &.slide-leave-active
                    transform translateY(100%)

        &:not(.flipped)

            &.slide-enter
                transform translateY(-100%)
            
            &.slide-enter-active
                transform translateY(0%)
            
            &.slide-leave
                transform translateY(0%)

            &.slide-leave-active
                transform translateY(-100%)

.dropdown-menu
    background white
    box-sizing border-box
    border 1px solid #ccc
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    max-height 200px
    overflow auto
    position absolute
    z-index 10

    &.tethered
        min-width 300px

    &:not(.tethered)
        width 100%

    &.open
        &.flipped
            border-top-left-radius 4px
            border-top-right-radius 4px

        &:not(.flipped)
            border-color #b3b3b3 #cccccc #d9d9d9
            border-bottom-left-radius 4px
            border-bottom-right-radius 4px

    .groups.as-columns
        display flex

        > div 
            flex 1

    .no-results-found
        color #aaa !important
        font-style oblique
        padding 8px 10px
        &.red
            color red !important

    .option-wrapper
        cursor pointer
        outline none
        &.highlight
            background #f2f9fc
            color #333

    .simple-group-title
        background-color #fafafa
        padding 8px 8px

    .simple-option
        color #666
        cursor pointer
        padding 8px 10px
        
        &.not-selectable
            background-color #f8f8f8
            color #999
            cursor default
            font-style oblique
            text-shadow 0px 1px 0px white

