.react-selectize.multi-select .simple-value
    background #f2f9fc
    border 1px solid #c9e6f2
    border-radius 2px
    color #0088cc
    display inline-block
    margin 2px
    vertical-align middle

    span
        cursor pointer
        display inline-block
        padding 2px 5px 4px
        vertical-align top