.react-selectize.multi-select .simple-value
    background #f2f9fc
    border 1px solid #c9e6f2
    border-radius 2px
    color #0088cc
    display inline-block
    margin 2px
    vertical-align middle

    span
        display inline-block
        vertical-align top

        &:first-child
            border-right 1px solid #c9e6f2
            cursor pointer
            padding 2px 5px 4px

            &:hover
                background #ddeff7
                color #0077b3

        &:last-child
            cursor default
            padding 3px 5px