.react-selectize.simple-select
    
    &:not(.open)
        background-color #f9f9f9
        background-image linear-gradient(to bottom, #fefefe, #f2f2f2)

    .control
        padding 2px 52px 2px 8px

        .placeholder
            padding 8px 0px 8px 12px

    .reset 
        display none

    .simple-value
        display inline-block
        margin 2px
        vertical-align middle

        span
            cursor default
            display inline-block
            vertical-align top